html, body {
	display		: flex;
	flex-flow	: column;
	flex		: 1;
}

body > header {
	text-align	: center;
	flex		: 0 3cm;
}

body > section {
	flex		: 1 10cm;
	border-top	: solid black 1px;
	display		: flex;
}

body > section > nav {
	flex		: 0 5cm;
	border-right: solid black 1px;
}

body > section > section {
	flex		: 1;
}

body > footer {
	flex		: 0 1cm;
	border-top	: solid black 1px;
	margin-top: auto;
}